.footer-social {
  align-items: flex-start;

  padding-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    padding-top: 65px;
    right: 89px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 72px;
  }
  &__title {
    color: $white-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-bottom: 4px;

    text-align: center;
    @media screen and (min-width: 1200px) {
      padding-left: 70px;
      text-align: left;
    }
  }
}

.social-network-list--footer {
  @media screen and (min-width: 1200px) {
    padding: 20px 0px 30px 70px;
  }
}

.social-network-list__link--gray-backround {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-network-list__icon--white-color {
  fill: $white-color;
}
