.header {
  border-bottom: 1px solid #ececec;
}
.section-header {
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 60px;
  // min-height: 80px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
