.header {
  border-bottom: 1px solid #ececec;
}
.section-header {
  display: flex;
  align-items: center;
  // justify-content: center;
  min-height: 80px;

  @media screen and (min-width: 480px) {
    height: 60px;
  }
}
