.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -30px;

  &__item {
    display: inline-block;

    margin-top: 15px;
    margin-left: 30px;
    @media screen and (min-width: 768px) {
      width: calc((100vw - 2 * 30px) / 2);

      &__item:not(:last-child) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 30px;
    color: #212121;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
      color: var(--primary-text-color);
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    padding-top: 10px;
    padding-bottom: 15px;

    text-align: justify;
    color: $secondly-text-color;
    @media screen and (min-width: 1200px) {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;

      color: $secondly-text-color;
    }
  }
  &__bag {
    background-color: #f5f4fa;
    border-radius: 4px;

    height: 120px;
    padding: 25px 191px;

    @media screen and (min-width: 768px) {
      padding: 25px 144px;
    }

    @media screen and (min-width: 1200px) {
      padding: 25px 100px;
      width: 270px;
      height: 120px;
    }
  }
  &__icon {
    height: 70px;
    width: 70px;
  }
}
